* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: table;
    width: 100%;
    background: url(/backend/images/header.PNG) top center no-repeat;
    background-size: cover;
    height: 100%;
}

section.doctor img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.card {
    border-radius: 10%;
    box-shadow: 3px 6px 19px 5px;
    margin-top: 40px;
    background-color: #01a6e8!important;
}

hr {
    width: 10%;
    border-width: 4px;
    background-color: brown;
    margin: auto;
    margin-bottom: 40px;
}

.fas {
    color: palevioletred;
    font-size: 40px;
    padding-bottom: 20px;
}

.header {
    padding: 10px;
    background-color: #00b6ffdb!important;
    text-align: center;
    width: 50%;
    margin: auto;
    align-items: center;
}

.text {
    color: #00b6ffdb;
}

#anchor {
    font-size: large;
    text-decoration: none;
    color: wheat;
}

.form-design {
    background-color: #66aecae6;
    height: 400px;
    color: white;
    width: 50%;
    margin: auto;
}

.form {
    padding: 30px;
}

.admin-title {
    padding-bottom: 60px;
}


/* side bar */


/* The sidebar menu */

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

#sidebar-dropdown {
    color: #fff;
    height: 50px;
    width: 100%;
    font-size: large;
    background: #480c0c;
    background-color: #111;
    border-color: #1bafe8;
    border-radius: 3px;
}

#dropdown-anchor {
    font-size: 15px;
    width: 220px;
    align-items: center;
    background: #08282d;
    border: 1px solid;
}